<html lang="en" class="js" xmlns:fb="http://www.facebook.com/2008/fbml">
	<!--<![endif]-->
	<head>
		<title>Gumball Machine</title>
		<link href="/stylesheets/style.css" media="all" type="text/css" rel="stylesheet">
		<link href="/stylesheets/review.css" media="all" type="text/css" rel="stylesheet">
		<link href="/stylesheets/writeareview_search.css" media="all" type="text/css" rel="stylesheet">
		<style type="text/css">
			#businessresults .leftcol {float:left; width:270px;}
			#businessresults .rightcol {float:left; width: 200px;}
			#businessresults .ybtn{float: right;}
			#businessresults .itemcategories {width:260px;}
			#businessresults .itemneighborhoods {width:260px;}
			.fs_pagination_controls{clear:left;}
			#loading_bg, #loading_animation{top:2px}
		</style>
	</head>
	<body class="country-us logged-in jquery" id="yelp_main_body" >
		<div class="lang-en" id="wrap">
			<span class="offscreen" id="page-content">&nbsp;</span>
			<div id="super-container">
				<div id="maplayout" class="container">
					<div id="businessresults_top">
						<div class="ytype">
							<h2>GumBall Machines
							</h2>
							
						</div>
					</div>
					<div id="searchPanelContainer" class="clearfix layout-block layout-a layout-border">
							<div id="businessresults">
								<ul>
									<% for(var i = 0;i < result.length;i++) { %> 
									<li data-key="1" class="clearfix business-summary" data-component-bound="true">
										<div class="war-businessresult businessresult">
											<div class="leftcol">
												<div >
													<%=i+1%>.&nbsp;Serial # <a href="/getDetails/<%=result[i]._id%>">&nbsp;<%=result[i].serialNumber%> 
													</a>
												</div>
											</div>
											<div class="leftcol">
												<div >
													Model # :<%=result[i].modelNumber%>
												</div>
											</div>
											<div class="leftcol">
												<div align="right">
													<%=result[i].count%> Counts
												</div>
											</div>
										</div>
									</li>
								<%}%>
								</ul>
								
							</div>
					</div>
				</div>
			</div>
	</body>
</html>
